<?xml version="2.0.2" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0.2">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/sfah007/Live-Tv/raw/main/TV%20Shabakaty.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://assets.shabakaty.com/api/files/3cac7fd0-a0c8-46a7-9676-ea8c622bfdb3</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://assets.shabakaty.com/api/files/dc7d8751-30f8-481e-9d2f-e09b886bbe24</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.shabakaty.tv3</string>
				<key>bundle-version</key>
				<string>3.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TV Shabakaty</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
